<!doctype html>
<html ng-app="pdApp">
  <head>
    <script src="webpd-latest.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
  </head>
  <body ng-controller="main">
    <script>
     angular.module('pdApp', [])
            .controller('main', ['$scope', '$http', function ($scope, $http) {
       $http.get("patch-prep.pd").success(function (data) {
         var patch = $scope.patch = Pd.compat.parse(data);

         $scope.$watch('k12', function (newval, oldval) {
           patch.send('k12', Number(newval));
         });
         $scope.$watch('k23', function (newval, oldval) {
           patch.send('k23', Number(newval));
         });
         $scope.$watch('k34', function (newval, oldval) {
           patch.send('k34', Number(newval));
         });
         $scope.$watch('freq', function (newval, oldval) {
           patch.send('freq', Number(newval));
         });
         $scope.$watch('idx', function (newval, oldval) {
           patch.send('idx', Number(newval));
         });

         $scope.k12 = 0.5;
         $scope.k23 = 0.5;
         $scope.k34 = 0.5;
         $scope.freq = 440;
         $scope.idx = 10;
       });
     }]);
    </script>


    <p>k12: <input type="range" min="-1" max="1" step="0.01" ng-model="k12"></p>
    <p>k23: <input type="range" min="-1" max="1" step="0.01" ng-model="k23"></p>
    <p>k34: <input type="range" min="-1" max="1" step="0.01" ng-model="k34"></p>
    <p>Freq: <input type="range" min="80" max="1000" step="1" ng-model="freq"></p>
    <p>Idx: <input type="range" min="1" max="20" step="1" ng-model="idx"></p>

    <button ng-click="patch.play()">Play</button>
    <button ng-click="patch.stop()">Stop</button>
  </body>
</html>
