<!doctype html>
<html ng-app="pdApp">
<head>
  <script src="http://sebpiq.github.io/WebPd/dist/webpd-latest.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
</head>
<body ng-controller="main">
<script id="patchFile" type="text/pd">
#N canvas 675 62 639 442 10;
#X obj 99 210 dac~;
#X obj 106 124 osc~ 440;
#X obj 66 18 osc~ 10;
#X obj 107 86 +~ 0;
#X obj 67 62 *~ 1;
#X obj 65 -20 r modulation_frequency;
#X obj 144 15 r modulation_depth;
#X obj 164 48 r carrier_frequency;
#X connect 1 0 0 0;
#X connect 1 0 0 1;
#X connect 2 0 4 0;
#X connect 3 0 1 0;
#X connect 4 0 3 0;
#X connect 5 0 2 0;
#X connect 6 0 4 1;
#X connect 7 0 3 1;
</script>
<script>
  angular.module('pdApp', [])
  .controller('main', ['$scope', function ($scope) {
    var patchFile = document.getElementById('patchFile').text;
    var patch = $scope.patch = Pd.compat.parse(patchFile);

    $scope.$watch('modulation_frequency', function (newval, oldval) {
      patch.send('modulation_frequency', Number(newval));
    });
    $scope.$watch('modulation_depth', function (newval, oldval) {
      patch.send('modulation_depth', Number(newval));
    });
    $scope.$watch('carrier_frequency', function (newval, oldval) {
      patch.send('carrier_frequency', Number(newval));
    });

    $scope.modulation_frequency = 440;
    $scope.modulation_depth = 440;
    $scope.carrier_frequency = 440;
  }]);
</script>


<p>Modulation frequency: <input type="range" min="0" max="1000" step="1" ng-model="modulation_frequency"></p>
<p>Modulation depth: <input type="range" min="0" max="1000" step="1" ng-model="modulation_depth"></p>
<p>Carrier frequency: <input type="range" min="0" max="1000" step="1" ng-model="carrier_frequency"></p>

<button ng-click="patch.play()">Play</button>
<button ng-click="patch.stop()">Stop</button>
</body>
</html>
